
@{
    Layout = null;
}
<!-- footer -->
<footer class="mt-5">
    <div class="container">
        <div class="footer_menu">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="footer_head">
                        <h5>CUSTOMER SERVICE</h5>
                    </div>
                    <div class="footer_body">
                        <ul>
                            <li>
                                <a href="">Help & Contact us</a>
                            </li>
                            <li>
                                <a href="">Returns and Refunds</a>
                            </li>
                            <li>
                                <a href="">Online Stores</a>
                            </li>
                            <li>
                                <a href="">Terms & Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="footer_head">
                        <h5>COMPANY</h5>
                    </div>
                    <div class="footer_body">
                        <ul>
                            <li>
                                <a href="">About Us</a>
                            </li>
                            <li>
                                <a href="">Blog</a>
                            </li>
                            <li>
                                <a href="">Order Tracking</a>
                            </li>
                            <li>
                                <a href="">FAQ Page</a>
                            </li>
                            <li>
                                <a href="">Contact Us</a>
                            </li>
                            <li>
                                <a href="">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="footer_head">
                        <h5>SOCIAL MEDIA</h5>
                    </div>
                    <div class="footer_body">
                        <ul>
                            <li>
                                <a href="">Twitter</a>
                            </li>
                            <li>
                                <a href="">Instagram</a>
                            </li>
                            <li>
                                <a href="">Tumblr</a>
                            </li>
                            <li>
                                <a href="">Pinterest</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="footer_head">
                        <h5>ARCHIVE</h5>
                    </div>
                    <div class="footer_body">
                        <ul>
                            <li>
                                <a href="">Designer Shoes</a>
                            </li>
                            <li>
                                <a href="">Gallery</a>
                            </li>
                            <li>
                                <a href="">Pricing</a>
                            </li>
                            <li>
                                <a href="">Feature Index</a>
                            </li>
                            <li>
                                <a href="">Login</a>
                            </li>
                            <li>
                                <a href="">Help & Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright mt-5">
            <div class="row justify-content-between">
                <div class="col-lg-4 col-md-12">
                    <div class="name">
                        <span class="text-muted">Powered by</span>
                        <a>Mikado Themes</a>
                        <span class="text-muted">2018</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="creditCards">
                        <img src="~/img/creditCards.png" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="social">
                        <ul>
                            <li>
                                <a href="">INSTAGRAM</a>
                            </li>
                            <li>
                                <a href="">FACEBOOK</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer -->
