@{
    ViewData["Title"] = "Delete";
}

<span class="text-danger d-inline-block mb-3">Are you sure to delete this user?</span>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<ul style="list-style-type:none">
    <li>Username: @Model.Username</li>
    <li>Email: @Model.Email</li>
    <li>Fullname: @Model.Fullname</li>
    <li>Role: @Model.Role</li>
</ul>

<form method="post">
    <div class="row">
        <input class="btn btn-danger mr-3" value="Delete" type="submit" />
        <a asp-action="Index" class="btn btn-dark">Go Back</a>
    </div>
</form>

