
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="headerArea mt-5">
    <div class="container">
        <div class="title">
            <h1>Progress Bar</h1>
        </div>
    </div>
</section>
<section class="progressBar my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="bar-left">
                    <div class="info d-flex justify-content-between">
                        <h2>Growing</h2>
                        <div class="percent">
                            <span class="count">0</span>
                        </div>

                    </div>
                    <div class="grow">
                        <div class="grow-bar"></div>
                    </div>
                    <div class="info d-flex justify-content-between">
                        <h2>Watering</h2>
                        <div class="percent">
                            <span class="count">0</span>
                        </div>

                    </div>
                    <div class="water">
                        <div class="water-bar"></div>
                    </div>
                    <div class="info d-flex justify-content-between">
                        <h2>Furtlizing</h2>
                        <div class="percent">
                            <span class="count">0</span>
                        </div>

                    </div>
                    <div class="furtlize">
                        <div class="furtlize-bar"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bar-right">
                    <div class="info d-flex justify-content-between">
                        <h2>Growing</h2>
                        <div class="percent">
                            <span class="count">0</span>
                        </div>

                    </div>
                    <div class="grow">
                        <div class="grow-bar"></div>
                    </div>
                    <div class="info d-flex justify-content-between">
                        <h2>Watering</h2>
                        <div class="percent">
                            <span class="count">0</span>
                        </div>

                    </div>
                    <div class="water">
                        <div class="water-bar"></div>
                    </div>
                    <div class="info d-flex justify-content-between">
                        <h2>Furtlizing</h2>
                        <div class="percent">
                            <span class="count">0</span>
                        </div>

                    </div>
                    <div class="furtlize">
                        <div class="furtlize-bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="fullBar mt-5">
    <div class="container">
        <div class="info d-flex justify-content-between">
            <h2>Growing</h2>
            <div class="percent">
                <span class="count">0</span>
            </div>
        </div>
        <div class="grow">
            <div class="grow-bar"></div>
        </div>
        <div class="info d-flex justify-content-between">
            <h2>Watering</h2>
            <div class="percent">
                <span class="count">0</span>
            </div>

        </div>
        <div class="water">
            <div class="water-bar"></div>
        </div>
        <div class="info d-flex justify-content-between">
            <h2>Furtlizing</h2>
            <div class="percent">
                <span class="count">0</span>
            </div>

        </div>
        <div class="furtlize">
            <div class="furtlize-bar"></div>
        </div>
    </div>
</section>
