
@{
    ViewData["Title"] = "Index";
}

    <div class="row">
        <div class="col-md-3">
            <a asp-controller="Slider" style="color:white">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header" style="color:black;text-align:center">SLIDERS</div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text" style="text-align:center; font-size:40px; color:white;">
                            <i class="fas fa-external-link-alt"></i>
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a asp-controller="Content" style="color:white">

                <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-header" style="color:black;text-align:center">CONTENT</div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text" style="text-align:center; font-size:40px; color:white;">
                            <i class="fas fa-external-link-alt"></i>
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a asp-controller="Course" style="color:white">

                <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                    <div class="card-header" style="color:black;text-align:center">COURSES</div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text" style="text-align:center; font-size:40px; color:white;">
                            <i class="fas fa-external-link-alt"></i>
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a asp-controller="Event" style="color:white">

                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-header" style="color:black;text-align:center">EVENTS</div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text" style="text-align:center; font-size:40px; color:white;">
                            <i class="fas fa-external-link-alt"></i>
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a asp-controller="Blog" style="color:white">

                <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                    <div class="card-header" style="color:black;text-align:center">BLOGS</div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text" style="text-align:center; font-size:40px; color:white;">
                            <i class="fas fa-external-link-alt"></i>
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a asp-controller="Teacher" style="color:white">

                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header" style="color:black;text-align:center">TEACHERS</div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text" style="text-align:center; font-size:40px; color:white;">
                            <i class="fas fa-external-link-alt"></i>
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a asp-controller="AllUsers" style="color:white">

                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header" style="color:black;text-align:center">USERS</div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text" style="text-align:center; font-size:40px; color:white;">
                            <i class="fas fa-external-link-alt"></i>
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
