@model LoginVM
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="shortcut icon" href="~/img/loginfavicon.png" type="image/x-icon">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="login">
                    <div class="login-body">
                        <div class="logo">
                            <img src="~/img/logo/black-logo.png" alt="">
                        </div>
                        <div class="title">
                            <h5>Sign into your account</h5>
                            <form method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <input asp-for="Email" class="input-text" placeholder="Email">
                                    <span class="text-danger" asp-validation-for="Email"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Password" id="password" class="input-text" placeholder="Password">
                                    <span class="text-danger" asp-validation-for="Password"></span>
                                </div>
                                <div class="checkbox">
                                    <div class="row justify-content-between">
                                        <div class="remember-me">
                                            <label for="">
                                                <input id="show" type="checkbox">
                                                Show Password
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <div class="row justify-content-between">
                                        <div class="remember-me">
                                            <label for="">
                                                <input asp-for="RememberMe">
                                                Remember Me
                                            </label>
                                        </div>
                                        <div class="forgot-password">
                                            <a href="~/">Forgot Password</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="g-recaptcha" data-sitekey="6LdUgcoZAAAAAGwkPB9N-KDMk3gA5QamHLdF4WX_"></div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn-md button-theme btn-block">Login</button>
                                </div>
                            </form>
                            <div class="sosial">
                                <ul>
                                    <li class="facebook">
                                        <a href="~/">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a href="~/">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="google">
                                        <a href="~/">
                                            <i class="fab fa-google-plus-g"></i>
                                        </a>
                                    </li>
                                    <li class="linkedin">
                                        <a href="~/">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="login-footer">
                        <span style="color: #535353">Don't you have an account</span>
                        <a asp-action="Register">Register now</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/4a0d6e395d.js" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        let show = document.querySelector('#show');
        show.onclick = function () {
            if (show.checked == true) {
                document.querySelector('#password').setAttribute('type', 'text');
            }
            else {
                document.querySelector('#password').setAttribute('type', 'password');
            }
        };

        document.querySelector("form").addEventListener("submit", function (evt) {
            var response = grecaptcha.getResponse();
            if (response.length == 0) {
                //reCaptcha not verified
                alert("please verify you are humann!");
                evt.preventDefault();
                return false;
            }
            //captcha verified
            //do the rest of your validations here
        });
    </script>
</body>
</html>
