
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="headerArea py-5">
    <div class="container">
        <div class="title">
            <h1>Accordions</h1>
        </div>
    </div>
</section>
<section class="accordion">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="accordion-menu-1">
                    <div class="accHead">
                        <i class="fas fa-plus px-2"></i>
                        <span style="display: inline-block; vertical-align: middle;">CREATIVE ELEMENTS</span>
                    </div>
                    <div class="accBody" data-id="1">
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                            commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                            parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                            pellentesque eu, pretium quis, sem. Nulla consequat massa quis.
                        </p>
                    </div>
                </div>
                <div class="accordion-menu-1">
                    <div class="accHead">
                        <i class="fas fa-plus px-2"></i>
                        <span style="display: inline-block; vertical-align: middle;">ATTENTION </span>
                    </div>
                    <div class="accBody" data-id="2">
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                            commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                            parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                            pellentesque eu, pretium quis, sem. Nulla consequat massa quis.
                        </p>
                    </div>
                </div>
                <div class="accordion-menu-1">
                    <div class="accHead">
                        <i class="fas fa-plus px-2"></i>
                        <span style="display: inline-block; vertical-align: middle;">EASY IMPORT</span>
                    </div>
                    <div class="accBody" data-id="3">
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                            commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                            parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                            pellentesque eu, pretium quis, sem. Nulla consequat massa quis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="accordion-menu-2">
                    <div class="accHead">
                        <i class="fas fa-plus px-2"></i>
                        <span style="display: inline-block; vertical-align: middle;">CREATIVE ELEMENTS</span>
                    </div>
                    <div class="accBody" data-id="1">
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                            commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                            parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                            pellentesque eu, pretium quis, sem. Nulla consequat massa quis.
                        </p>
                    </div>
                </div>
                <div class="accordion-menu-2">
                    <div class="accHead">
                        <i class="fas fa-plus px-2"></i>
                        <span style="display: inline-block; vertical-align: middle;">CREATIVE ELEMENTS</span>
                    </div>
                    <div class="accBody" data-id="2">
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                            commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                            parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                            pellentesque eu, pretium quis, sem. Nulla consequat massa quis.
                        </p>
                    </div>
                </div>
                <div class="accordion-menu-2">
                    <div class="accHead">
                        <i class="fas fa-plus px-2"></i>
                        <span style="display: inline-block; vertical-align: middle;">CREATIVE ELEMENTS</span>
                    </div>
                    <div class="accBody" data-id="3">
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                            commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                            parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                            pellentesque eu, pretium quis, sem. Nulla consequat massa quis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="accordion2 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="accordion-menu-1">
                    <div class="accHead">
                        <i class="fas fa-plus px-2"></i>
                        <span style="display: inline-block; vertical-align: middle;">CREATIVE ELEMENTS</span>
                    </div>
                    <div class="accBody" data-id="1">
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                            commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                            parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                            pellentesque eu, pretium quis, sem. Nulla consequat massa quis.
                        </p>
                    </div>
                </div>
                <div class="accordion-menu-1">
                    <div class="accHead">
                        <i class="fas fa-plus px-2"></i>
                        <span style="display: inline-block; vertical-align: middle;">CREATIVE ELEMENTS</span>
                    </div>
                    <div class="accBody" data-id="2">
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                            commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                            parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                            pellentesque eu, pretium quis, sem. Nulla consequat massa quis.
                        </p>
                    </div>
                </div>
                <div class="accordion-menu-1">
                    <div class="accHead">
                        <i class="fas fa-plus px-2"></i>
                        <span style="display: inline-block; vertical-align: middle;">CREATIVE ELEMENTS</span>
                    </div>
                    <div class="accBody" data-id="3">
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                            commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                            parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                            pellentesque eu, pretium quis, sem. Nulla consequat massa quis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="accordion-menu-2">
                    <div class="accHead">
                        <i class="fas fa-plus px-2"></i>
                        <span style="display: inline-block; vertical-align: middle;">EASY IMPORT</span>
                    </div>
                    <div class="accBody" data-id="1">
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                            commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                            parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                            pellentesque eu, pretium quis, sem. Nulla consequat massa quis.
                        </p>
                    </div>
                </div>
                <div class="accordion-menu-2">
                    <div class="accHead">
                        <i class="fas fa-plus px-2"></i>
                        <span style="display: inline-block; vertical-align: middle;">EASY IMPORT</span>
                    </div>
                    <div class="accBody" data-id="2">
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                            commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                            parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                            pellentesque eu, pretium quis, sem. Nulla consequat massa quis.
                        </p>
                    </div>
                </div>
                <div class="accordion-menu-2">
                    <div class="accHead">
                        <i class="fas fa-plus px-2"></i>
                        <span style="display: inline-block; vertical-align: middle;">EASY IMPORT</span>
                    </div>
                    <div class="accBody" data-id="3">
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                            commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                            parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                            pellentesque eu, pretium quis, sem. Nulla consequat massa quis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="backTop">
    <i class="fas fa-caret-up"></i>
</div>