@model ComponentVM
@{
    Layout = null;
}
    <div class="col-lg-4">
        <div class="left-section">
            <form id="form">
                <div class="form-group">
                    <label>Keywords</label>
                    <input type="text" placeholder="Search Keywords" class="form-control">
                </div>
                <div class="form-group" style="position: relative;">
                    <label>Location</label>
                    <input type="text" placeholder="All Location" readonly class="form-control">
                    <div class="selectList">
                        <ul>
                            <li>All Location</li>
                            @foreach (Location item in Model.Locations)
                            {
                                <li>@item.Name</li>
                            }
                        </ul>

                    </div>
                    <div class="down">
                        <i class="fas fa-caret-down"></i>
                    </div>
                </div>
                <div class="form-group" style="position: relative;">
                    <label>Categories</label>
                    <input type="text" placeholder="All Categories" readonly class="form-control">
                    <div class="selectList">
                        <ul>
                            <li>All Categories</li>
                            @foreach (Category item in Model.Categories)
                            {
                                <li>@item.Name</li>
                            }
                        </ul>
                    </div>
                    <div class="down">
                        <i class="fas fa-caret-down"></i>
                    </div>
                </div>
                <div class="radio-button-section">
                    <div class="radio-buttons">
                        <div class="row job-features">
                            <div class="icon">
                                <i class="fas fa-plus"></i>
                            </div>
                            <p>Job Type</p>
                        </div>
                        <div class="job-selection">
                            <input type="radio" name="jobType" value="full-time">
                            <label>Full Time</label><br>
                            <input type="radio" name="jobType" value="part-time">
                            <label>Part Time</label><br>
                        </div>
                    </div>
                    <div class="radio-buttons">
                        <div class="row job-features">
                            <div class="icon">
                                <i class="fas fa-plus"></i>
                            </div>
                            <p>Data Posted</p>
                        </div>
                        <div class="job-selection">
                            <input type="radio" name="DataPosted" value="last-hour">
                            <label>Last Hour</label><br>
                            <input type="radio" name="DataPosted" value="last-24-hour">
                            <label>Last 24 Hour</label><br>
                            <input type="radio" name="DataPosted" value="last-7-days">
                            <label>Last 7 Days</label><br>
                            <input type="radio" name="DataPosted" value="last-30-days">
                            <label>Last 30 Days</label><br>
                        </div>
                    </div>
                    <div class="radio-buttons">
                        <div class="row job-features">
                            <div class="icon">
                                <i class="fas fa-plus"></i>
                            </div>
                            <p>Experince</p>
                        </div>
                        <div class="job-selection">
                            <input type="radio" name="Experince" value="0-1 year">
                            <label>0-1 Year</label><br>
                            <input type="radio" name="Experince" value="1-3 years">
                            <label>1-3 Years</label><br>
                            <input type="radio" name="Experince" value="3-5 years">
                            <label>3-5 Years</label><br>
                            <input type="radio" name="Experince" value="more 5 years">
                            <label>More 5 Years</label><br>
                        </div>
                    </div>
                    <div class="radio-buttons">
                        <div class="row job-features">
                            <div class="icon">
                                <i class="fas fa-plus"></i>
                            </div>
                            <p>Offered Salary</p>
                        </div>
                        <div class="job-selection">
                            <input type="radio" name="Salary" value="0-300">
                            <label>0-300</label><br>
                            <input type="radio" name="Salary" value="300-600">
                            <label>300-600</label><br>
                            <input type="radio" name="Salary" value="600-1000">
                            <label>600-1000</label><br>
                            <input type="radio" name="Salary" value="1000+">
                            <label>1000+</label><br>
                        </div>
                    </div>
                    <div class="radio-buttons">
                        <div class="row job-features">
                            <div class="icon">
                                <i class="fas fa-plus"></i>
                            </div>
                            <p>Education</p>
                        </div>
                        <div class="job-selection">
                            <input type="radio" name="Education" value="Secondary">
                            <label>Secondary</label><br>
                            <input type="radio" name="Education" value="Subbachelor">
                            <label>Subbachelor</label><br>
                            <input type="radio" name="Education" value="Bachelor">
                            <label>Bachelor</label><br>
                            <input type="radio" name="Education" value="Master">
                            <label>Master</label><br>
                        </div>
                    </div>
                    <div class="radio-buttons">
                        <div class="row job-features">
                            <div class="icon">
                                <i class="fas fa-plus"></i>
                            </div>
                            <p>Gender</p>
                        </div>
                        <div class="job-selection">
                            <input type="radio" name="Gender" value="Male">
                            <label>Male</label><br>
                            <input type="radio" name="Gender" value="Female">
                            <label>Female</label><br>
                            <input type="radio" name="Gender" value="Other">
                            <label>Other</label><br>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
