@model RegisterVM
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="~/css/login.css" />
</head>
<body>
    <div class="container">
        <section id="content">
            <form method="post">
                <h1>Register Form</h1>
                <div>
                    <input placeholder="Username" asp-for="Username" id="username" />
                    <span asp-validation-for="Username" style="color:#ff4400"></span>
                </div>
                <div>
                    <input placeholder="Email" asp-for="Email" id="email" />
                    <span asp-validation-for="Email" style="color:#ff4400"></span>
                </div>
                <div>
                    <input asp-for="Password" placeholder="Password" id="password" />
                    <span asp-validation-for="Password" style="color:#ff4400"></span>
                </div>
                <div>
                    <input asp-for="Confirm_password" placeholder="Confirm Password" id="cPassword" />
                    <span asp-validation-for="Confirm_password" style="color:#ff4400"></span>
                </div>
                <div asp-validation-summary="ModelOnly" class="validate" style="color:#ff4400"></div>
                <div>
                    <input type="submit" value="Register" />
                    <a href="#">Have your account?</a>
                    <a asp-controller="Account" asp-action="Login">Login</a>
                </div>
            </form><!-- form -->

        </section><!-- content -->
    </div><!-- container -->
</body>
</html>